/* Move down content because we have a fixed navbar that is 50px tall */
.jumbotron {
    background-color: #07889B !important;
    color:white !important; 
}


body {
  	padding-top: 20px;
  	background-color:white;
  	line-height: 1.5;
}	
.important{
	font-size: 20px;
	font-weight: bold;
}
.content{
  	padding-bottom: 60px;
  	padding-left: 60px;
  	padding-right: 60px;
}

img{
    padding: 20px;
    width: 220px;
    height: 178px;
    border:2px solid #07889B;
    border-radius: 12px;
}

.right{
	float: right;
}

.left{
	float: left;
  margin-right:45px;
}

.info{
	/*border: 2px solid grey;
	border-radius: 5px;*/
	padding: 30px;
	padding-left: 60px;
	background-color:white;
	padding-top: 30px;
	color:#07889B; 
}

.text_left{
  float:left;
}

.text_right{
  float:right;
}

h2{
  text-decoration: underline;
}

#symptoms{
	border: 5px solid #07889B;
    border-radius: 12px;
}

#examination{
	border: 5px solid #07889B;
    border-radius: 12px;
}

#surgery{
	border: 5px solid #07889B;
    border-radius: 12px;
}

#rehab{
	border: 5px solid #07889B;
    border-radius: 12px;
    padding-bottom: 10px;
}